
/* Treemap */

figure.treemap {
  position:relative;
  width:100%;
  height:460px;
  margin-bottom:80px;
}

figure.treemap figcaption {
  position:absolute;
  left:0;
  bottom:-50px;
  font-weight:bold;
}

figure.treemap figcaption .service-name {
    display: inline-block;
    max-width: 550px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.treemap figcaption .keyBlock{
  width:30px;
  height: 30px;
  background-color: black;
  display: inline-block;
  margin-bottom: -9px;
  margin-right: 10px;
}

figure.treemap:hover .node {
  opacity: .5;
}
figure.treemap:hover .node:hover {
  opacity: 1;
}

/* line 388, /mnt/jenkins/workspace/innovations-transactions-visualisation/web/app/assets/stylesheets/index.scss */
.node {
/*  -webkit-font-smoothing: antialiased;
  position: relative; 
  -webkit-transition: all .05s ease-in;
  -moz-transition: all .05s ease-in;
  transition: all .05s ease-in;*/
}

.node.parent{
  /*display: none*/
}

/* line 391, /mnt/jenkins/workspace/innovations-transactions-visualisation/web/app/assets/stylesheets/index.scss */
.node .label {
  width: 100%;
  height: 100%;
  border: solid 2px white;
  padding: 6px 0 0 6px;
}

/* line 397, /mnt/jenkins/workspace/innovations-transactions-visualisation/web/app/assets/stylesheets/index.scss */

.node {
  overflow:hidden;
}
.node a {
  color: white;
  text-decoration: none;
  padding:.5em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node .amount {
  display:block;
  white-space:nowrap;
  overflow: hidden;
  font-family:   "ntatabularnumbers", "nta", Arial, sans-serif;
  font-weight: bold;
  text-overflow: ellipsis;
}

.node.none a {
  visibility:hidden;
}

.node.ellipsis a {
  padding:0;
  text-align:center;
  visibility:hidden;
}

.node.ellipsis a:before {
  display:block;
  content:'...';
  visibility:visible;
}
.node.small {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 17, ./_assets/stylesheets/treemap.scss */
  .node.small {
    font-size: 1.2rem;
    line-height: 1.25; } }
/* line 19, ./_assets/stylesheets/treemap.scss */
.node.small em {
  font-style: normal;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 19, ./_assets/stylesheets/treemap.scss */
    .node.small em {
      font-size: 1.2rem;
      line-height: 1.25; } }
/* line 23, ./_assets/stylesheets/treemap.scss */
.node.small .bold {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 23, ./_assets/stylesheets/treemap.scss */
    .node.small .bold {
      font-size: 1.2rem;
      line-height: 1.25; } }
/* line 26, ./_assets/stylesheets/treemap.scss */
.node.small .amount {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 26, ./_assets/stylesheets/treemap.scss */
    .node.small .amount {
      font-size: 1.4rem;
      line-height: 1.14286; } }
/* line 30, ./_assets/stylesheets/treemap.scss */
.node.medium {
font-family: "nta", Arial, sans-serif;
font-size: 19px;
font-size: 1.9rem;
line-height: 1.31579;
font-weight: 400;
text-transform: none; }
@media (max-width: 640px) {
  /* line 30, ./_assets/stylesheets/treemap.scss */
  .node.medium {
    font-size: 1.6rem;
    line-height: 1.25; } }
/* line 32, ./_assets/stylesheets/treemap.scss */
.node.medium .bold {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 32, ./_assets/stylesheets/treemap.scss */
    .node.medium .bold {
      font-size: 1.6rem;
      line-height: 1.25; } }
/* line 35, ./_assets/stylesheets/treemap.scss */
.node.medium .amount {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  font-size: 2.7rem;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 35, ./_assets/stylesheets/treemap.scss */
    .node.medium .amount {
      font-size: 1.8rem;
      line-height: 1.11111; } }
/* line 39, ./_assets/stylesheets/treemap.scss */
.node.large {
font-family: "nta", Arial, sans-serif;
font-size: 24px;
font-size: 2.4rem;
line-height: 1.25;
font-weight: 400;
text-transform: none; }
@media (max-width: 640px) {
  /* line 39, ./_assets/stylesheets/treemap.scss */
  .node.large {
    font-size: 2rem;
    line-height: 1.2; } }
/* line 41, ./_assets/stylesheets/treemap.scss */
.node.large .bold {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 41, ./_assets/stylesheets/treemap.scss */
    .node.large .bold {
      font-size: 2rem;
      line-height: 1.2; } }
/* line 44, ./_assets/stylesheets/treemap.scss */
.node.large .amount {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 44, ./_assets/stylesheets/treemap.scss */
    .node.large .amount {
      font-size: 3.2rem;
      line-height: 1.09375; } }
/* line 48, ./_assets/stylesheets/treemap.scss */

.node.xx-large{
  font-size: 3.2rem;
  font-weight: bold;
}

.node.xx-large,
.node.x-large {
font-family: "nta", Arial, sans-serif;
font-size: 27px;
font-size: 2.7rem;
line-height: 1.11111;
font-weight: 400;
text-transform: none; }

.node.xx-large{
  font-size: 3.2rem;
  line-height:1.3;
}

@media (max-width: 640px) {
  /* line 48, ./_assets/stylesheets/treemap.scss */
  .node.x-large {
    font-size: 1.8rem;
    line-height: 1.11111; } }
/* line 50, ./_assets/stylesheets/treemap.scss */
.node.x-large .bold {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  font-size: 2.7rem;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 50, ./_assets/stylesheets/treemap.scss */
    .node.x-large .bold {
      font-size: 1.8rem;
      line-height: 1.11111; } }
/* line 53, ./_assets/stylesheets/treemap.scss */
.node.xx-large .amount,
.node.x-large .amount {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  font-size: 8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
.node.xx-large .amount{
  font-size: 10rem;
}
  @media (max-width: 640px) {
    /* line 53, ./_assets/stylesheets/treemap.scss */
    .node.x-large .amount {
      font-size: 5.3rem;
      line-height: 1.03774; } }

.node a{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.node{
  background:seagreen;
}
/* attorney generals office */
.node.ago{
  background: #9f1888;
}
/* cabinet office */
.node.co{
  background: #005abb;
}
/* business innovation and skills*/
.node.bis{
  background: #003479;
}
/*department-for-communities-and-local-government*/
.node.dclg{
  background: #00857e;
}
/*department-for-culture-media-sport*/
.node.dcms{
  background: #d40072;
}
/*department-for-education*/
.node.dfe{
  background: #003a69;
}
/*department-for-environment-food-rural-affairs*/
.node.defra{
  background: #898700;
}
/*department-for-international-development*/
.node.dfid{
  background: #002878;
}
/*department-for-transport*/
.node.dft{
  background: #006c56;
}
/*department-for-work-pensions*/
.node.dwp{
  background: #00beb7;
}
/*department-of-energy-climate-change*/
.node.decc{
  background: #009ddb;
}
/*department-of-health*/
.node.dh{
  background: #00ad93;
}
/*foreign-commonwealth-office*/
.node.fco{
  background: #002e74;
}
/*guess work*/
/*government-equalities-office*/
.node.geo{
  background: #9325b2;
}
/*guess work*/
/*hm-government*/
.node.hmg{
  background: #0076c0;
}
/*hm-revenue-customs*/
.node.hmrc{
  background: #009390;
}
/*guess work*/
/*hm-treasury*/
.node.hmt{
  background: #af292e;
}
/*home-office*/
.node.home-office{
  background: #9325b2;
}
/*ministry-of-defence*/
.node.mod{
  background: #4d2942;
}
/*ministry-of-justice*/
.node.moj{
  background: #231f20;
}
/*guess work*/
/*northern-ireland-office*/
.node.nio{
  background: #002663;
}
/*guess work*/
/*office-of-the-advocate-general-for-scotland*/
.node.oags{
  background: #002663;
}
/*guess work*/
/*office-of-the-leader-of-the-house-of-lords*/
.node.olhl{
  background: #9c132e;
}
/*guess work*/
/*scotland-office*/
.node.so{
  background: #002663;
}
/*guess work*/
/*the-office-of-the-leader-of-the-house-of-commons*/
.node.olhc{
  background: #317023;
}
/*guess work*/
/*uk-export-finance*/
.node.uef{
  background: #005747;
}
/*guess work*/
/*wales-office*/
.node.wo{
  background: #a33038;
}
