
/* Treemap */

figure.treemap {
  font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
  position:relative;
  width:100%;
  height:460px;
  margin-bottom:60px;
}

figure.treemap figcaption {
  position:absolute;
  left:0;
  right:0;
  bottom:-60px;
  font-weight:bold;
  padding-left:40px;
  height:50px;
}

figure.treemap figcaption .service-details,
figure.treemap figcaption .service-name {
  margin-right:0.5em;
  float:left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.treemap figcaption .keyBlock{
  width:30px;
  height: 30px;
  background-color: black;
  margin-bottom: -9px;
  float:left;
  margin-left:-40px;
}

figure.treemap:hover .node {
  opacity: .5;
}
figure.treemap:hover figcaption:hover ~ .node,
figure.treemap:hover .node:hover {
  opacity: 1;
}

/* line 391, /mnt/jenkins/workspace/innovations-transactions-visualisation/web/app/assets/stylesheets/index.scss */
.node .label {
  width: 100%;
  height: 100%;
  border: solid 2px white;
  padding: 6px 0 0 6px;
}

/* line 397, /mnt/jenkins/workspace/innovations-transactions-visualisation/web/app/assets/stylesheets/index.scss */

.node {
  overflow:hidden;
}
.node a {
  color: white;
  text-decoration: none;
  padding:.5em;
  display: block;
  overflow: hidden;
  text-overflow:ellipsis;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.node a[href]:hover {
  text-decoration: underline;
}

.node .amount {
  display:block;
  white-space:nowrap;
  font-weight: bold;
}

.node.ellipsis a {
    padding: 0;
    text-align: center;
}

.node.small {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 17, ./_assets/stylesheets/treemap.scss */
  .node.small {
    font-size: 1.2rem;
    line-height: 1.25; } }
/* line 19, ./_assets/stylesheets/treemap.scss */
.node.small em {
  font-style: normal;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 19, ./_assets/stylesheets/treemap.scss */
    .node.small em {
      font-size: 1.2rem;
      line-height: 1.25; } }
/* line 23, ./_assets/stylesheets/treemap.scss */
.node.small .bold {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 23, ./_assets/stylesheets/treemap.scss */
    .node.small .bold {
      font-size: 1.2rem;
      line-height: 1.25; } }
/* line 26, ./_assets/stylesheets/treemap.scss */
.node.small .amount {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.25;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 26, ./_assets/stylesheets/treemap.scss */
    .node.small .amount {
      font-size: 1.4rem;
      line-height: 1.14286; } }
/* line 30, ./_assets/stylesheets/treemap.scss */
.node.medium {
font-size: 19px;
font-size: 1.9rem;
line-height: 1.31579;
font-weight: 400;
text-transform: none; }
@media (max-width: 640px) {
  /* line 30, ./_assets/stylesheets/treemap.scss */
  .node.medium {
    font-size: 1.6rem;
    line-height: 1.25; } }
/* line 32, ./_assets/stylesheets/treemap.scss */
.node.medium .bold {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 32, ./_assets/stylesheets/treemap.scss */
    .node.medium .bold {
      font-size: 1.6rem;
      line-height: 1.25; } }
/* line 35, ./_assets/stylesheets/treemap.scss */
.node.medium .amount {
  font-size: 27px;
  font-size: 2.7rem;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 35, ./_assets/stylesheets/treemap.scss */
    .node.medium .amount {
      font-size: 1.8rem;
      line-height: 1.11111; } }
/* line 39, ./_assets/stylesheets/treemap.scss */
.node.large {
font-size: 24px;
font-size: 2.4rem;
line-height: 1.25;
font-weight: 400;
text-transform: none; }
@media (max-width: 640px) {
  /* line 39, ./_assets/stylesheets/treemap.scss */
  .node.large {
    font-size: 2rem;
    line-height: 1.2; } }
/* line 41, ./_assets/stylesheets/treemap.scss */
.node.large .bold {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 41, ./_assets/stylesheets/treemap.scss */
    .node.large .bold {
      font-size: 2rem;
      line-height: 1.2; } }
/* line 44, ./_assets/stylesheets/treemap.scss */
.node.large .amount {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 44, ./_assets/stylesheets/treemap.scss */
    .node.large .amount {
      font-size: 3.2rem;
      line-height: 1.09375; } }
/* line 48, ./_assets/stylesheets/treemap.scss */

.node.xx-large{
  font-size: 3.2rem;
  font-weight: bold;
}

.node.xx-large,
.node.x-large {
font-size: 27px;
font-size: 2.7rem;
line-height: 1.11111;
font-weight: 400;
text-transform: none; }

.node.xx-large{
  font-size: 3.2rem;
  line-height:1.3;
}

@media (max-width: 640px) {
  /* line 48, ./_assets/stylesheets/treemap.scss */
  .node.x-large {
    font-size: 1.8rem;
    line-height: 1.11111; } }
/* line 50, ./_assets/stylesheets/treemap.scss */
.node.x-large .bold {
  font-size: 27px;
  font-size: 2.7rem;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    /* line 50, ./_assets/stylesheets/treemap.scss */
    .node.x-large .bold {
      font-size: 1.8rem;
      line-height: 1.11111; } }
/* line 53, ./_assets/stylesheets/treemap.scss */
.node.xx-large .amount,
.node.x-large .amount {
  font-size: 80px;
  font-size: 8rem;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
.node.xx-large .amount{
  font-size: 10rem;
}
  @media (max-width: 640px) {
    /* line 53, ./_assets/stylesheets/treemap.scss */
    .node.x-large .amount {
      font-size: 5.3rem;
      line-height: 1.03774; } }

.node{
  background: #2E8B57; /* "seagreen" */
}
.node:hover{
  background: #2B6F37; /* "seagreen" */
}
/* attorney generals office */
.node.ago{
  background: #9f1888;
}
.node.ago:hover{
  background: #7D0069;
}
/* cabinet office */
.node.co{
  background: #005abb;
}
.node.co:hover{
  background: #063E9D;
}
/* business innovation and skills*/
.node.bis{
  background: #003479;
}
.node.bis:hover{
  background: #032058;
}
/*department-for-communities-and-local-government*/
.node.dclg{
  background: #00857e;
}
.node.dclg:hover{
  background: #0D665E;
}
/*department-for-culture-media-sport*/
.node.dcms{
  background: #d40072;
}
.node.dcms:hover{
  background: #B80057;
}
/*department-for-education*/
.node.dfe{
  background: #003a69;
}
.node.dfe:hover{
  background: #042449;
}
/*department-for-environment-food-rural-affairs*/
.node.defra{
  background: #898700;
}
.node.defra:hover{
  background: #6A6904;
}
/*department-for-international-development*/
.node.dfid{
  background: #002878;
}
.node.dfid:hover{
  background: #011758;
}
/*department-for-transport*/
.node.dft{
  background: #006c56;
}
.node.dft:hover{
  background: #0A4D3A;
}
/*department-for-work-pensions*/
.node.dwp{
  background: #00beb7;
}
.node.dwp:hover{
  background: #15A59D;
}
/*department-of-energy-climate-change*/
.node.decc{
  background: #009ddb;
}
.node.decc:hover{
  background: #0F80C4;
}
/*department-of-health*/
.node.dh{
  background: #00ad93;
}
.node.dh:hover{
  background: #129276;
}
/*foreign-commonwealth-office*/
.node.fco{
  background: #002e74;
}
.node.fco:hover{
  background: #021C53;
}
/*guess work*/
/*government-equalities-office*/
.node.geo{
  background: #9325b2;
}
.node.geo:hover{
  background: #750095;
}
/*guess work*/
/*hm-government*/
.node.hmg{
  background: #0076c0;
}
.node.hmg:hover{
  background: #0A58A3;
}
/*hm-revenue-customs*/
.node.hmrc{
  background: #009390;
}
.node.hmrc:hover{
  background: #0F7572;
}
/*guess work*/
/*hm-treasury*/
.node.hmt{
  background: #af292e;
}
.node.hmt:hover{
  background: #90151F;
}
/*home-office*/
.node.home-office{
  background: #9325b2;
}
.node.home-office:hover{
  background: #750095;
}
/*ministry-of-defence*/
.node.mod{
  background: #4d2942;
}
.node.mod:hover{
  background: #301829;
}
/*ministry-of-justice*/
.node.moj{
  background: #231f20;
}
.node.moj:hover{
  background: #121010;
}
/*guess work*/
/*northern-ireland-office*/
.node.nio{
  background: #002663;
}
.node.nio:hover{
  background: #021644;
}
/*guess work*/
/*office-of-the-advocate-general-for-scotland*/
.node.oags{
  background: #002663;
}
.node.oags:hover{
  background: #021644;
}
/*guess work*/
/*office-of-the-leader-of-the-house-of-lords*/
.node.olhl{
  background: #9c132e;
}
.node.olhl:hover{
  background: #7A0020;
}
/*guess work*/
/*scotland-office*/
.node.so{
  background: #002663;
}
.node.so:hover{
  background: #021644;
}
/*guess work*/
/*the-office-of-the-leader-of-the-house-of-commons*/
.node.olhc{
  background: #317023;
}
.node.olhc:hover{
  background: #225317;
}
/*guess work*/
/*uk-export-finance*/
.node.uef{
  background: #005747;
}
.node.uef:hover{
  background: #073A2E;
}
/*guess work*/
/*wales-office*/
.node.wo:hover{
  background: #a33038;
}
.node.wo:hover{
  background: #831C26;
}


/* mobile portrait */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
@media only screen and (max-width:479px){
  figure.treemap figcaption{ 
    height: 60px;
    bottom: -70px;
    left: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}