{% extends "base.html" %}

{% set current_navigation_link=true %}

{% block body %}
  <div class="group">
    <article role="article" class="group">
        <section class="content-group" name="1">
          <h1>About the transactions data</h1>
          <p>Each transactional service is shown together with the department,
          agency or other body responsible for it. Transaction volumes are
          also provided for nearly all services.</p>
          <p>For <strong>high-volume services</strong> – those with over 750,000 transactions per year – and some others, additional data is available by clicking on the service name in tables and bubbles. This data is described in more detail below.</p>
        </section>
      <section class="content-group" name="2">
        <h1>Time period covered</h1>
        <p>The figures used in the explorer are collected from departments every three months, but <strong>all datasets cover a twelve-month period</strong> to eliminate seasonal fluctuations.</p>
        <p>The latest data published was requested in March 2013, is marked <strong>Q1 2013</strong>, and typically covers the period January 2012 to December 2012.</p>
        <p>On the detailed service pages, the latest data is compared to previous quarters wherever possible.</p>
      </section>
      <section class="content-group" name="3">
        <h1>Department</h1>
        <p>The government department that provides the service directly, or manages or sponsors the public body responsible for its delivery.</p>
      </section>
      <section class="content-group" name="4">
        <h1>Service type</h1>
        <p>The type of service provided, such as making a payment, or requesting benefits or loans.</p>
      </section>
      <section class="content-group" name="5">
        <h1>Customer type</h1>
        <p>The principal users of the service: business or citizens.</p>
        <p>Citizens are categorised as expert, mainstream or challenged, depending on the access they typically have to online services, and their level of technical expertise.</p>
      </section>
      <section class="content-group" name="6">
        <h1>Cost model</h1>
        <p><strong>Fiscal</strong> indicates transactional services which are paid for directly through departmental budgets, and <strong>cost recovery</strong> indicates those paid for by users of the services.</p>
        <p>Under the fiscal cost model, savings from improving the efficiency of transactional services will benefit the taxpayer; under the cost recovery model, savings will typically benefit consumers in the form of lower prices or fees.</p>
      </section>
      <section class="content-group" name="7">
        <h1>Web link</h1>
        <p>A link to further information about how to use the service, or to the service itself where it is available online.</p>
      </section>
      <section class="content-group" name="8">
        <h1>Total transactions per year</h1>
        <p>The total number of transactions completed successfully in a 12-month period.</p>
      </section>
      <section class="content-group" name="9">
        <h1>Digital take-up</h1>
        <p>The percentage of transactions that are completed through digital channels.</p>
        <p>Transactions that can be completed only partially through digital channels are still counted as digital.</p>
      </section>
      <section class="content-group" name="10">
        <h1>Average cost per transaction</h1>
        <p>The average cost of providing each successfully completed transaction.</p>
        <p>The cost per transaction is calculated as the total cost of providing the service divided by the total number of completed transactions across all channels (web, phone, post etc.).</p>
        <p>Most services are not directly comparable as each includes different processes with varying levels of complexity. As such, cost per transaction should not be seen as a relative measure of cost-efficiency across different services.</p>
        <p>Cost per transaction figures should be viewed in conjunction with the notes on costs.</p>
      </section>
      <section class="content-group" name="11">
        <h1>Total cost</h1>
        <p>The total cost of providing a service.</p>
        <p>The figure includes costs for staff, IT and accommodation. See <a href="https://www.gov.uk/service-manual/measurement/cost-per-transaction.html">full list of elements included in total cost</a>.</p>
      </section>
      <section class="content-group" name="12">
        <h1>Notes on costs</h1>
        <p>Additional context for the cost per transaction data.</p>
        <p>The wide range of values for cost per transaction can often be explained by the different processes involved in providing the services.</p>
      </section>
      <section class="content-group" name="13">
        <h1>Data coverage</h1>
        <p>Indicates the proportion of requested data provided by each department.</p>
      </section>
      <section class="content-group" name="14">
        <h1>Raw data</h1>
        <p>All of the raw data from the Transactions Explorer can be downloaded into spreadsheet compatible CSV files using the links at the bottom of each data table.</p>
        <p><a href="http://transactionsexplorer.cabinetoffice.gov.uk/?orderBy=volume&amp;direction=desc&amp;format=csv">Download the full data set</a>.</p>
      </section>
    </article>
  </div>
{% endblock %}