{% extends "base.html" %}

{% set breadcrumbs=[
  {'name':'Transactions Explorer', 'href':'all-services/by-transactions-per-year/descending'}
] %}
{% set page_title = 'About the Transactions Explorer data' %}


{% block body %}
  <section class="content-group service-details-header">
    <div class="page-title">
      <h1>
          <span class="strapline">Transactions Explorer</span>
          About the data
      </h1>
    </div>


    <div class="clear-div"></div>
  </section>

  <div class="about-nav">
      <section>
        <h1>Contents</h1>
        <nav role="navigation">
          <ol>
            <li><a href="#collection">Data collection</a></li>
            <li><a href="#services">Transactional services</a></li>
            <li><a href="#explained">Some terms explained</a></li>
            <li><a href="#costs">Costs</a></li>
            <li><a href="#feedback">Feedback</a></li>
          </ol>
        </nav>
      </section>
  </div>

  <div class="about-group">
    <article role="article" class="group">
      <section class="content-group" name="1">
        <p>The data gives details of transactional services for every government department, agency or body: their digital take-up, costs and, for most services, the amount of transactions per year.</p>
      </section>

      <section class="content-group" name="2">
        <a name="collection"></a>
        <h1>Data collection</h1>
        <p>We collect data from departments every three months. Data sets cover a 12 month period so that seasonal variation is balanced out. The latest data published covers January 2013 to December 2013.</p>
        <p>You can <a href="{{ 'data/transaction-volumes.csv' | as_absolute_url }}" title="Download the full data set (CSV)" download="transaction-volumes.csv">download the full raw data set</a> into spreadsheet-compatible CSV files.</p>
      </section>

      <section class="content-group" name="3">
        <a name="services"></a>
        <h1>Transactional services</h1>
        <p>Transactional services are activities like vehicle licensing, passport applications, benefit claims and filing company accounts. They involve an exchange of information, money, licences, goods or services and result in a change in the records held by government organisations.</p>
        <p>Fuller data is given for high-volume services, which have over 750,000 transactions per year, or a departmental spend of over £750m per year. Access this data by clicking on the service names.</p>
      </section>

      <section class="content-group" name="4">
        <a name="explained"></a>
        <h1>Some terms explained</h1>
        <p>The data is labelled with these terms:</p>
        <ul>
          <li>digital take-up - percentage of transactions completed or partially completed through digital channels</li>
          <li>cost per transaction - average cost of providing each successfully completed transaction across all channels, including web, phone, post and in person</li>
          <li>
            total cost - overall cost per year of providing a service, including staff, IT and accommodation costs;
            these figures are calculated from volume and cost per transaction figures, and some rounding errors may occur
          </li>
          <li>data coverage - proportion of requested data provided by each department</li>
        </ul>
        <p>Find out how to <a href="https://www.gov.uk/service-manual/measurement/cost-per-transaction.html">measure cost per transaction</a> and about other <a href="https://www.gov.uk/service-manual/measurement/other-kpis.html">key performance indicators</a>, including digital take-up and how to increase it.</p>
      </section>

      <section class="content-group" name="5">
        <a name="costs"></a>
        <h1>Costs</h1>
        <p>Most services can’t be compared directly, as they include different processes. Cost per transaction isn’t a measure of cost-efficiency across different services. The notes on costs for individual services provide additional information about how cost per transaction has been calculated for each service.</p>
      </section>

      <section class="content-group" name="6">
        <h3>Service costs</h3>
        <p>‘Taxpayers’ is used for transactional services which are funded through general taxation. Any savings made from improving the efficiency of these services will benefit the taxpayer.</p>
        <p>‘Fees and charges’ is used for transactional services which are paid for by service users. Any savings will generally benefit users, through lower fees or charges.</p>
      </section>

      <section class="content-group" name="7">
        <a name="feedback"></a>
        <h1>Feedback</h1>
        <p>Analysing this data helps us measure performance effectively, improve customer experience and identify where cost savings can be made.</p>
        <p><a href="mailto:pdu-feedback@digital.cabinet-office.gov.uk">Tell us what you think</a>. Is the Transactions Explorer useful for you? How could we make it better?</p>
      </section>

    </article>
  </div>
{% endblock %}
