{% extends "base.html" %}

{% set current_navigation_link='all-services' %}
{% set page_title = 'All services' %}

{% block body %}

<header class="page-header group">
    <hgroup>
        <h1>Transactions Explorer</h1>
    </hgroup>
    <p class="explanatory">
      Compare all government transactions grouped by the department providing them. You can also see just 
      the <a href="{{ 'high-volume-services/by-transactions-per-year/descending'|as_absolute_url }}">high volume services</a>, 
      or read more about <a href="{{ 'about-data'|as_absolute_url }}">how the data was collected</a>.
    </p>
</header>

{% include "search_box.html" %}

<div class="group">
    <article role="article" class="group">
        <section class="content-group">
            <h1>Annual volume of transactions by department</h1>

            <figure id="services-treemap" class="treemap" data-treemap-url="{{ treemap_url | as_absolute_url }}"></figure>

            <div style="clear:both;"></div>

            <h1>All departments</h1>

            {% include "departments_table.html" %}

            {% with %}
                {% set treemapDivId='services-treemap' %}
                {% include "treemap_javascript.html" %}
            {% endwith %}

            <div class="application-notice info-notice table-margin">
                <p>* Figures are based on data for high-volume services only</p>
            </div>

            {% include "csv_download_link.html" %}
        </section>
    </article>
</div>

{% include "search_javascript.html" %}

{% endblock %}
