<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>
      {% set title_prefix = page_title + ' - ' if page_title is defined else '' %}
      {{ title_prefix }}Transactions Explorer: transactional services performance data from the UK government
    </title>
    <!--{% block head %}{% endblock %}-->

    <script type="text/javascript">
      (function(){if(navigator.userAgent.match(/IEMobile\/10\.0/)){var d=document,c="appendChild",a=d.createElement("style");a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));d.getElementsByTagName("head")[0][c](a);}})();
    </script>

    <!--[if gt IE 8]><!--><link href="{{ 'govuk-template.css' | as_static_url }}" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="{{ 'govuk-template-ie6.css' | as_static_url }}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="{{ 'govuk-template-ie7.css' | as_static_url }}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="{{ 'govuk-template-ie8.css' | as_static_url }}" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

    <link href="{{ 'govuk-template-print.css' | as_static_url }}" media="print" rel="stylesheet" type="text/css" />

    <!--[if IE 8]>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
       setTimeout(function(){var a=document,g,b={families:(g=
       ["nta"]),urls:["{{ 'fonts-ie8.css' | as_static_url }}"]},
       c="{{ 'vendor/goog/webfont-debug.js' | as_static_url }}",d="script",
       e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
       ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
       .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
      <link href="{{ 'fonts.css' | as_static_url }}" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
      <script src="{{ 'ie.js' | as_static_url }}" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ 'favicon.ico' | as_static_url }}" type="image/x-icon" />

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'apple-touch-icon-144x144.png' | as_static_url }}">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'apple-touch-icon-114x114.png' | as_static_url }}">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'apple-touch-icon-72x72.png' | as_static_url }}">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{ 'apple-touch-icon-57x57.png' | as_static_url }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ 'opengraph-image.png' | as_static_url }}">

      <!--[if gt IE 8]><!--><link href="{{ 'application.css' | as_static_url }}?body=1" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if IE 6]><link href="{{ 'application-ie6.css' | as_static_url }}?body=1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 7]><link href="{{ 'application-ie7.css' | as_static_url }}?body=1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="{{ 'application-ie8.css' | as_static_url }}?body=1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

<link href="{{ 'print.css' | as_static_url }}?body=1" media="print" rel="stylesheet" type="text/css" />

<link rel="stylesheet" media="screen" href="{{ 'stylesheets/index.css' | as_asset_url }}">
<link rel="stylesheet" media="screen" href="{{ 'stylesheets/treemap.css' | as_asset_url }}">

  <script src="{{ 'libs/jquery/jquery-1.7.2.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'libs/jquery/jquery-ui-1.8.16.custom.min.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'libs/jquery/plugins/jquery.base64.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'libs/jquery/plugins/jquery.mustache.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'libs/jquery/plugins/jquery.player.min.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'libs/suchi/isOld.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'govuk/stop-scrolling-at-footer.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'govuk_toolkit.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'user-satisfaction-survey.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'core.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'report-a-problem.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'popup.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'geo-locator.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'jquery.history.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'jquery.tabs.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'mobile.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'browser-check.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'analytics/events-cookie-handler.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'analytics/tracking-strategies.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'analytics/tracking.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'analytics/print-tracking.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'analytics.js' | as_static_url }}?body=1" type="text/javascript"></script>
<script defer="defer" src="{{ 'application.js' | as_static_url }}?body=1" type="text/javascript"></script>
{% include "google-analytics.html" %}

  </head>

  <body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="{{ 'gov.uk_logotype_crown.png' | as_static_url }}" width="35" height="31" alt=""> GOV.UK
            </a>
          </div>
        </div>
        <div class="header-proposition">
          <div class="content">
            <nav id="proposition-menu" role="navigation">
              <a href="/performance" id="proposition-name">Performance</a>
              <span class="beta-tag">Beta</span>
              <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
              <ul id="proposition-links">
                <li><a href="/performance/services">Service dashboards</a></li>
                <li><a href="http://performance-platform.readthedocs.org/">Get a dashboard</a></li>
                <li><a href="/performance/about">About</a></li>
                <li><a href="/performance/prototypes">Prototypes</a></li>
                <li><a href="https://gdsdata.blog.gov.uk/">Blog</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!--end header-->

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <div id="global-header-bar">
      <div class="inner-block">
        <div class="header-bar"></div>
      </div>
    </div>
    <!--end global-header-bar-->

  <div id="wrapper" class="group">
    <div class="" id="global-breadcrumb">
      <ol class="group" role="breadcrumbs">
        <li><a href="/performance">Performance</a></li>
        {% for breadcrumb in breadcrumbs %}
          <li><strong><a href="{{ breadcrumb.href|as_absolute_url }}">{{ breadcrumb.name }}</a></strong></li>
        {% endfor %}
      </ol>
    </div>

    <section id="content" role="main" class="group">
      {% block body %}{% endblock %}
    </section>
  </div>

    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
        {% include "footer_top.html" %}

        <div class="footer-meta">
          <div class="footer-meta-inner">
            {% include "footer_support_links.html" %}

            <div class="open-government-licence">
              <h2><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence</a></h2>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/">Open Government Licence v2.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <!--end footer-->

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{ 'govuk-template.js' | as_static_url }}" type="text/javascript"></script>

  </body>
</html>
