{% extends "base.html" %}

{% set current_navigation_link='all-services' %}

{% macro money_cell(value) -%}
    {% if value -%}
        &pound;{{ value|as_financial_magnitude }}
    {%- endif %}
{%- endmacro %}

{% macro th_content(text, sort, title=None, default_direction="ascending") -%}
    {% if sort != current_sort.order %}
        <a href="../{{ sort }}/{{ default_direction }}.html" title="{{ title }}">{{ text }}</a>
    {% elif current_sort.direction == "ascending" %}
        <a href="../{{ sort }}/descending.html" title="{{ title }}">{{ text }}</a>
        <span class="sort-ind">▲</span>
    {% else %}
        <a href="../{{ sort }}/ascending.html" title="{{ title }}">{{ text }}</a>
        <span class="sort-ind">▼</span>
    {% endif %}
{%- endmacro %}

{% block body %}

<header class="page-header group">
    <hgroup>
        <div id="whitehall-wrapper" class="no-border">
            <h1>{{ department.name }}</h1>
        </div>

        <h2>Transactional services provided by the department, its agencies or sponsored public bodies</h2>
    </hgroup>
</header>

<div class="group">
    <article role="article" class="group">

    {% if department.high_volume_count > 0 %}
    <div id="data-coverage-notice" class="application-notice info-notice">
        <h2>Department data coverage: {{ department.data_coverage|as_percentage }}</h2>
        <p>(taken from {{ department.high_volume_count }} high volume services)</p>
    </div>
    {% endif %}


    <section class="content-group">

        <div style="clear:both;"></div>

        <table id="transactions-table" class="full_width_table">
        <thead>
        <tr>

            <th scope="col">
                <a href="http://transactionsexplorer.cabinetoffice.gov.uk/department/hmrc?orderBy=nameOfService&direction=asc#transactions-table">
                    Transactional service
                </a>

            </th>
            <th scope="col">
                <a href="http://transactionsexplorer.cabinetoffice.gov.uk/department/hmrc?orderBy=body&direction=asc#transactions-table">Agency / body</a>

            </th>

            <th scope="col">
                <a href="http://transactionsexplorer.cabinetoffice.gov.uk/department/hmrc?orderBy=category&direction=asc#transactions-table">Category</a>

            </th>


            <th scope="col">Web link</th>

            <th scope="col" class="amount">
                <a href="http://transactionsexplorer.cabinetoffice.gov.uk/department/hmrc?orderBy=volume&direction=asc#transactions-table" title="Transactions per year: most recent 12 months of data available across all channels">
                    Transactions per year
                </a>
                <span class="sort-ind">▼</span>
            </th>

        </tr>
        </thead>
        <tbody>

        {% for service in items %}
            <tr data-volume="{{ service.most_up_to_date_volume }}"
                data-volumelabel=" {{ service.most_up_to_date_volume|as_grouped_number }} "
                data-category="{{ service.category }}"
                data-body="{{ department.name }}"
                data-body-abbr="{{ department.abbr }}"
                data-url="{{ service.url }}"
                data-bubblelink="/{{ service.link }}"
                data-label="{{ service.name }}"
                data-title="{{ service.name }}"
                data-color="#2e358b"
                data-text-color="#fff">
                <th scope="row">
                    {% if service.high_volume %}
                        <a href="/{{ service.link }}">{{ service.name }}</a>
                    {% else %}
                        {{ service.name }}
                    {% endif %}
                </th>
                <td>
                    <abbr title="{{ department.name }}">{{ department.abbr }}</abbr>
                </td>
                <td>{{ service.category }}</td>
                <td>
                    {% if service.url %}
                        <a rel="external" href="{{ service.url }}">Access service</a>
                    {% endif %}
                </td>
                <td class="amount"> {{ service.most_up_to_date_volume|as_grouped_number }} </td>
            </tr>
        {% endfor %}

        </tbody>
        </table>

        <script type="text/javascript">
            $(document).ready(function() {
                if ($("#bubble").length) {
                    gds.transactions.views.index( "hmrc" , "bubble", "transactions-table");
                }
            });
        </script>
        <div class="form-download">
            <p>
                {% include "csv_download_link.html" %}
            </p>
        </div>

        </section>
    </article>
</div>

{% endblock %}
