{% extends "base.html" %}

{% set current_navigation_link='all-services' %}
{% set page_title = department.name %}

{% import "table_macros.html" as table %}

{% block body %}

<div class="group">
    <section class="content-group service-details-header">
      <div class="page-title">
        <h1>
            <span class="strapline">Department services</span>
            {{ department.name }}
            <p class="department-details-info">Transactional services provided by the department, its agencies or sponsored public bodies</p>
        </h1>
      </div>

      {% include "logo_and_header.html" %}

      <div class="clear-div"></div>
    </section>

    <article role="article" class="group">

    {% if department.high_volume_count > 0 %}
    <div id="data-coverage-notice" class="application-notice info-notice">
        <h2>Department data coverage: {{ department.data_coverage|as_percentage }}</h2>
        <p>(taken from {{ department.high_volume_count }} high volume services)</p>
    </div>
    {% endif %}


    <section class="content-group">

        <!--[if gt IE 8]><!-->
        <h1>Annual volume of transactions by service</h1>
        <figure id="department-treemap" class="treemap"></figure>

        <div style="clear:both;"></div>
        <!--<![endif]-->

        <h1>All department services</h1>
        {# {% include "departments_table.html" %} #}

        <table id="transactions-table" class="full_width_table">
        <thead>
        <tr>

            <th scope="col">
                {{ table.th_content("Transactional service",
                                    sort="by-name",
                                    current_sort=current_sort) }}
            </th>
            <th scope="col">
                {{ table.th_content("Agency / body",
                                    sort="by-agency",
                                    current_sort=current_sort) }}
            </th>

            <th scope="col">
                {{ table.th_content("Category",
                                    sort="by-category",
                                    current_sort=current_sort) }}
            </th>

            <th scope="col">Web link</th>

            <th scope="col" class="amount">
                {{ table.th_content("Transactions per year",
                                    sort="by-transactions-per-year",
                                    current_sort=current_sort,
                                    title="Transactions per year: most recent 12 months of data available across all channels",
                                    default_direction="descending") }}
            </th>

        </tr>
        </thead>
        <tbody>

        {% for service in items %}
            <tr data-volume="{{ service.most_up_to_date_volume }}"
                data-volumelabel=" {{ service.most_up_to_date_volume|as_grouped_number }} "
                data-category="{{ service.category }}"
                data-body="{{ department.name }}"
                data-body-abbr="{{ department.abbr }}"
                data-url="{{ service.url }}"
                {% if service.has_details_page %}
                    data-href="{{ service.link|as_absolute_url }}"
                {% endif %}
                data-label="{{ service.name }}"
                data-title="{{ service.name }}"
                data-text-color="#fff"
                data-dept-class="{{ service.abbr }}">
                <th scope="row">
                    {% if service.has_details_page %}
                        <a href="{{ service.link|as_absolute_url }}">{{ service.name }}</a>
                    {% else %}
                        {{ service.name }}
                    {% endif %}
                </th>
                <td>
                    <abbr title="{{ service.body }}">{{ service.agency_abbreviation }}</abbr>
                </td>
                <td>{{ service.category }}</td>
                <td>
                    {% if service.url %}
                        <a rel="external" href="{{ service.url }}">Access service</a>
                    {% endif %}
                </td>
                <td class="amount"> {{ service.most_up_to_date_volume|as_grouped_number }} </td>
            </tr>
        {% endfor %}

        </tbody>
        </table>

         {% with %}
            {% set treemapDivId='department-treemap' %}
            {% set threshold=40 %}
            {% include "treemap_javascript.html" %}
        {% endwith %}

        {% include "csv_download_link.html" %}

        </section>
    </article>
</div>

{% endblock %}
