{% extends "base.html" %}


{% set current_navigation_link='high-volume-services' %}

{% block body %}

<header class="page-header group">
    <hgroup>
        <h1>High-volume services</h1><br/>

        <h2 id="narrative" class="module more_pad_top">
            The top 20 services account for <strong>90% of transactions</strong> with central government
        </h2>
    </hgroup>
</header>

<div class="group">
    <article role="article" class="group">

        <figure id="services-treemap" class="treemap"></figure>

        <section class="content-group">

            {% include "service_table.html" %}

            <!--[if gt IE 8]><!-->
            <script type="text/javascript" src="{{ 'javascripts/d3.v3.js' | as_asset_url }}"></script>
            <script type="text/javascript" src="{{ 'javascripts/table-to-tree-map.js' | as_asset_url }}"></script>
            <script>
              var tree = Tree.fromHtmlTable(d3.selectAll("tbody tr"));
              TreeMapLayout.display("services-treemap", tree);
            </script>
            <!--<![endif]-->
            
            <div id="old-data" class="application-notice info-notice table-margin">
                <p>* Q1 2013 data not provided for this metric; see service page for information on obtaining latest data</p>
            </div>

            <div class="form-download">
                <p>{% include "csv_download_link.html" %}</p>
            </div>

        </section>
    </article>
</div>

{% endblock %}
