{% extends "base.html" %}

{% set breadcrumbs=[
  {'name':'Transactions Explorer', 'href':'all-services/by-transactions-per-year/descending'}
] %}
{% set page_title = 'High volume services' %}

{% block body %}

<header class="page-header group">
    <hgroup>
        <h1>High-volume services</h1>
    </hgroup>
    <p class="explanatory">
        Compare high-volume transactional services provided by government. These are services which have over 750,000 transactions per year, or a departmental spend of over £750m per year. You can also see <a href="{{ 'all-services/by-transactions-per-year/descending'|as_absolute_url }}">all services</a>, or read more about <a href="{{ 'about-data'|as_absolute_url }}">about the data</a> and how it is collected.
    </p>
</header>

<div class="group">
    <article role="article" class="group">
        <section class="content-group">

            <h1>Annual volume of transactions by service</h1>

            <figure id="services-treemap" class="treemap" data-treemap-url="{{ treemap_url | as_absolute_url }}"></figure>

            <h1>All high-volume services</h1>
            {% include "service_table.html" %}

            {% with %}
                {% set treemapDivId='services-treemap' %}
                {% include "treemap_javascript.html" %}
            {% endwith %}

            {% include "old_data_infobox.html" %}

            {% include "csv_download_link.html" %}

        </section>
    </article>
</div>

{% endblock %}
