{% extends "base.html" %}



{% macro money_cell(value) -%}
    &pound;{{ value|as_financial_magnitude }}
{%- endmacro %}

{% macro percentage_cell(value) -%}
    {{ value|as_percentage }}
{%- endmacro %}

{% macro number_cell(value) -%}
    {{ value|as_grouped_number }}
{%- endmacro %}

{% macro cell_content(value, quarter, cell_format) -%}
    {% if quarter.before(latest_quarter) -%}
        <span class="olddata" title="Data received {{ quarter }}; latest data not provided">{{ cell_format(value) }}*</span>
    {%- else -%}
        {{ cell_format(value) }}
    {%- endif %}
{%- endmacro %}



{% block body %}

<header class="page-header group">
    <hgroup>
        <h1>High-volume services</h1><br/>

        <h2 id="narrative" class="module more_pad_top">
            The top 20 services account for <strong>90% of transactions</strong> with central government
        </h2>
    </hgroup>
</header>

<div class="group">
    <article role="article" class="group">
        <section class="content-group">

            <table id="transactions-table" class="full_width_table">
                <thead>
                    <tr>
                        <th scope="col">
                            <a href="?orderBy=nameOfService&amp;direction=asc#transactions-table">Transactional service</a>
                        </th>
                        <th scope="col">
                            <a href="?orderBy=dept&amp;direction=asc#transactions-table">Department</a>

                        </th>
                        <th scope="col">
                            <a href="?orderBy=mostRecentTotalCost&amp;direction=asc#transactions-table">Total cost</a>

                        </th>
                        <th scope="col">
                            <a href="?orderBy=costPerTransaction&amp;direction=asc#transactions-table">Cost per transaction</a>

                        </th>
                        <th scope="col">
                            <a href="?orderBy=mostRecentDigitalTakeUp&amp;direction=asc#transactions-table">Digital take&#8209;up</a>

                        </th>
                        <th scope="col" class="amount">
                            <a href="?orderBy=volume&amp;direction=asc#transactions-table" title="Transactions per year: most recent 12 months of data available across all channels">
                            Transactions per year
                            </a>
                            <span class="sort-ind">▼</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for service in services %}
                        <tr data-volume="{{ service.most_recent_kpis.volume_num|int }}"
                            data-volumeLabel=" {{ service.most_recent_kpis.volume_num|as_grouped_number }} "
                            data-category="{{ service.category }}"
                            data-body="{{ service.body }}"
                            data-body-abbr="{{ service.agency_abbr }}"
                            data-url="{{ service.url }}"
                            data-bubbleLink="{{ service.link }}"
                            data-label="{{ service.short_service_name }}"
                            data-title="{{ service.name_of_service }}"
                            data-color="#2e358b"
                            data-text-color="#fff">

                            <th scope="row">
                                <a href="{{ service.link }}">{{ service.name_of_service }}</a>
                            </th>

                            <td>{{ service.abbr }}</td>

                            <td class="amount">
                                {{ cell_content(quarter=service.most_recent_kpis['quarter'],
                                                value=service.most_recent_kpis.cost,
                                                cell_format=money_cell) }}
                            </td>

                            <td class="amount">
                                {{ cell_content(quarter=service.most_recent_kpis['quarter'],
                                                value=service.most_recent_kpis.cost_per_number,
                                                cell_format=money_cell) }}
                            </td>

                            <td class="amount">
                                {{ cell_content(quarter=service.most_recent_kpis['quarter'],
                                                value=service.most_recent_kpis.takeup,
                                                cell_format=percentage_cell) }}
                            </td>

                            <td class="amount">
                                {{ cell_content(quarter=service.most_recent_kpis['quarter'],
                                                value=service.most_recent_kpis.volume_num,
                                                cell_format=number_cell) }}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <script type="text/javascript">
                $(document).ready(function() {
                    if ($("#bubble").length) {
                        gds.transactions.views.index( "hmrc" , "bubble", "transactions-table");
                    }
                });
            </script>

            <div id="old-data" class="application-notice info-notice table-margin">
                <p>* Q1 2013 data not provided for this metric; see service page for information on obtaining latest data</p>
            </div>

        </section>
    </article>
</div>

{% endblock %}