{% extends "base.html" %}

{% set current_navigation_link='high-volume-services' %}
{% set page_title = 'High volume services' %}

{% block body %}

<header class="page-header group">
    <hgroup>
        <h1>High-volume services</h1><br/>
    </hgroup>
</header>

<div class="group">
    <article role="article" class="group">
        <section class="content-group">
            <h1>Annual volume of transactions</h1>

            <!--[if gt IE 8]><!-->
            <figure id="services-treemap" class="treemap"></figure>
            <!--<![endif]-->

            {% include "service_table.html" %}

            {% with %}
                {% set treemapDivId='services-treemap' %}
                {% include "treemap_javascript.html" %}
            {% endwith %}

            <div id="old-data" class="application-notice info-notice table-margin">
                <p>* Q1 2013 data not provided for this metric; see service page for information on obtaining latest data</p>
            </div>

            {% include "csv_download_link.html" %}

        </section>
    </article>
</div>

{% endblock %}
