{% extends "base.html" %}

{%  set current_navigation_link = 'home' %}

{% block body %}
    <header class="page-header group">
        <hgroup class="te-image">
            <h1>Transactions Explorer</h1>

            <h2>Illustrating service performance across government</h2>
        </hgroup>
    </header>
    <div class="group">
        <article role="article" class="group">
            <section class="content-group headline-details">
                <div class="headline">
                    <p><a href="/all-services/by-volume/descending.html"><h1>{{ departments_count }}</h1><p>Departments</p></a></p>
                </div>
                <div class="headline">
                    <p><a href="/all-services/by-volume/descending.html"><h1>{{ services_count }}</h1><p>Services</p></a></p>
                </div>
                <div class="headline">
                    <p><a href="/all-services/by-volume/descending.html"><h1>{{ total_transactions|as_magnitude }}</h1><p>Transactions per year</p></a></p>
                </div>
            </section>
            <div class="clear-div"></div>
            <section class="content-group">
                <h1>About the Transactions Explorer</h1>
                <div>
                    <p>This is an alpha release of <a href="/all-services/by-volume/descending.html">data
                        about the government's transactional services.</a></p>
                    <p>The data reveals the breadth of services that
                        departments, agencies and other public bodies provide,
                        and shows the number of transactions are processed each
                        year. Data on costs and the level of online use is also
                        available for most used services.</p>
                    <p>Publishing this data helps the government to more
                        effectively measure performance. Using this and other
                        information, we will work to improve the experience of
                        customers using transactional services, and identify
                        areas where cost savings can be made.</p>
                </div>
            </section>
            <section class="content-group">
                <h1>What is a transactional service?</h1>
                <div>
                    <p>Transactional services cover a range of activities,
                        including vehicle licensing, passport applications,
                        benefit claims, and filing company accounts.</p>
                    <p>These services typically result in a change in the
                        records held by government organisations, and involve
                        an exchange of information, money, licences, goods or
                        services.</p>
                    <p>Other public services like healthcare, law enforcement
                        and education have been excluded from the Explorer, as
                        is the provision of general information and advice
                        through websites and call centres. 'Back-office'
                        functions like recruitment are also excluded.</p>
                </div>
            </section>
            <section class="content-group">
                <h1>What's on the list?</h1>
                <div>
                    <p>Each service is shown together with the department,
                        agency or other body responsible for it, and the number
                        of transactions processed every year.</p>
                    <p>For <a href="/high-volume-services/by-transactions-per-year/descending.html">high-volume
                        services</a> (those with over 750,000 transactions per
                        year), the average cost and the number of digital
                        transactions is provided.</p>
                    <p>Information on contacts with local government is also
                        included, although it's more general than the data for
                        central government transactions. We've broken it down
                        into major service areas, and will add more detail in
                        future releases.</p>
                    <p>Data for devolved administrations, the police and the
                        NHS are not included in this release.</p>
                    <p>See the <a href="/about-data.html">About the Data</a> page for
                        more specific details on the information we’ve
                        published.</p>
                </div>
            </section>
            <section class="content-group">
                <h1>Feedback</h1>
                <div>
                    <p>We're still developing both the data and the way it is
                        presented, and there are some areas we plan to improve.
                        But please <a
                                href="mailto:pdu-feedback@digital.cabinet-office.gov.uk">tell
                            us what you think</a>. Is it useful? How could we
                        make it better?</p>
                </div>
            </section>
        </article>
    </div>
{% endblock %}