{% set kpis=service.find_recent_kpis_with_attributes([key]) %}
{% set value = kpis.get(key) %}
{% set change = kpis.get(change_key) %}
{% set quarter = kpis.get('quarter') %}


<div class="kpi-item col-50">
  
  <h1>{{ title }}</h1>
  
  <div class="current col-65">
    {% if value_type == 'money' %}
      <h2>£{{ value|as_financial_magnitude }}</h2>
    {% elif value_type == 'percentage' %}
      <h2>{{ value|as_percentage }}</h2>
    {% else %}
      <h2>{{ value|as_magnitude }}</h2>
    {% endif %}
    <h3>{{ quarter }}</h3>
  </div>
  
  {% if change is not none %}
  {% set change_string = change|as_percentage_change %}
    <div class="change col-35">
      <h2 class="{% if change_string != '0%' %}{% if change < 1 %}decrease {{decrease_class}}{% elif change > 1 %}increase {{increase_class}}{% endif %}{% endif %}">{{ change_string }}</h2>
      <h3>{{ kpis.get('previous_quarter') }}</h3>
    </div>
    <div class="previous clear-div">
      <details>
        <summary role="button" aria-expanded="false">Historical data</summary>
        <table class="historical">
          {% for previous in service.historical_data_before(quarter, key) %}
            <tr>
              <th>{{previous.quarter}}</th>
              {% if value_type == 'money' %}
                <td>£{{previous.value|as_financial_magnitude}}</td>
              {% elif value_type == 'percentage' %}
                <td>{{previous.value|as_percentage}}</td>
              {% else %}
                <td>{{previous.value}}</td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </details>
    </div>
  {% endif %}
  
</div>
