<div class="service-title-logo">
  <div id="whitehall-wrapper" class="no-border">
    {% if department.css_class_postfix %}
      <div class="organisations-show">
          <div class="{{ department.name_slug }}">
              <h1>
                  <span class="organisation-logo organisation-logo-stacked-{{department.css_class_postfix}} organisation-logo-stacked-{{department.css_class_postfix}}-medium">
                      <span>{{ department.name }}</span>
                  </span>
              </h1>
          </div>
      </div>
    {% else %}
      <h1 class="service-department">{{ department.name }}</h1>
    {% endif %}
  </div>
</div>
