<noscript>
    <style type="text/css">
        #search {
            display: none;
        }
    </style>
</noscript>

<section class="content-group">
    <div class="find-nearest">
        <form action="{{ 'search' | as_absolute_url }}" method="get" id="search">
            <fieldset>
                <legend class="visuallyhidden">Search Transactions Explorer</legend>
                <div class="ask_location">
                    <label for="department">Find a department, agency or service
                        <input class="postcode" id="search-box"
                               name="keyword" type="text"
                               placeholder="Search Transactions Explorer">
                    </label>
                    <button id="search-button" type="submit" class="button">Find</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>
