<section class="content-group">
    <div class="find-nearest">
        <form action="/search" method="get" id="search" class="find-location-for-service">
            <fieldset>
                <legend class="visuallyhidden">Search Transactions Explorer</legend>
                <div class="ask_location">
                    <label for="department">Find a department, agency or service:
                        <input class="postcode" id="search-box"
                               name="keyword" type="text"
                               placeholder="Search Transactions Explorer">
                    </label>
                    <button id="search-button" type="submit" class="button">Find</button>
                </div>
            </fieldset>
        </form>
    </div>
</section>
