
{% macro cell_content(value, quarter, cell_format) -%}
    {% if value != None -%}
        {% if quarter < latest_quarter -%}
            <span class="olddata" title="Data received {{ quarter }}; latest data not provided">{{ cell_format(value) }}*</span>
        {%- else -%}
            {{ cell_format(value) }}
        {%- endif %}
    {%- else -%}
        <span class="olddata" title="No data provided">*</span>
    {%- endif %}
{%- endmacro %}

{% import "table_macros.html" as table %}

<table id="transactions-table" class="full_width_table">
    <thead>
        <tr>
            <th scope="col">
                {{ table.th_content("Transactional service",
                                    current_sort=current_sort,
                                    sort="by-name") }}
            </th>
            <th scope="col">
                {{ table.th_content("Department",
                                    current_sort=current_sort,
                                    sort="by-department") }}
            </th>
            <th scope="col">
                {{ table.th_content("Total cost",
                                    current_sort=current_sort,
                                    sort="by-total-cost",
                                    default_direction="descending") }}
            </th>
            <th scope="col">
                {{ table.th_content("Cost per transaction",
                                    current_sort=current_sort,
                                    sort="by-cost-per-transaction",
                                    default_direction="descending") }}
            </th>
            <th scope="col">
                {{ table.th_content("Digital take&#8209;up",
                                    current_sort=current_sort,
                                    sort="by-digital-takeup",
                                    default_direction="descending") }}
            </th>
            <th scope="col" class="amount">
                {{ table.th_content("Transactions per year",
                                    current_sort=current_sort,
                                    sort="by-transactions-per-year",
                                    title="Transactions per year: most recent 12 months of data available across all channels",
                                    default_direction="descending") }}
            </th>
        </tr>
    </thead>

    <tbody>
        {% for service in items %}

            <tr data-volume="{{ service.latest_kpi_for('volume_num')|int }}"
                data-volumeLabel=" {{ service.latest_kpi_for('volume_num')|as_grouped_number }} "
                data-category="{{ service.category }}"
                data-body="{{ service.body }}"
                data-body-abbr="{{ service.agency_abbr }}"
                data-url="{{ service.url }}"
                data-href="{{ service.link|as_absolute_url }}"
                data-label="{{ service.short_service_name }}"
                data-title="{{ service.name_of_service }}"
                data-text-color="#fff"
                data-color="hotPink"
                data-dept-class="{{ service.abbr }}"
                >

                <th scope="row">
                    <a href="{{ service.link|as_absolute_url }}">{{ service.name_of_service }}</a>
                </th>

                <td><abbr title="{{ service.department }}">{{ service.abbr }}</abbr></td>

                <td class="amount">
                    {{ cell_content(quarter=service.latest_kpi_for('quarter'),
                                    value=service.latest_kpi_for('cost'),
                                    cell_format=table.money_cell) }}
                </td>

                <td class="amount">
                    {{ cell_content(quarter=service.latest_kpi_for('quarter'),
                                    value=service.latest_kpi_for('cost_per_number'),
                                    cell_format=table.money_cell) }}
                </td>

                <td class="amount">
                    {{ cell_content(quarter=service.latest_kpi_for('quarter'),
                                    value=service.latest_kpi_for('takeup'),
                                    cell_format=table.percentage_cell) }}
                </td>

                <td class="amount">
                    {{ cell_content(quarter=service.latest_kpi_for('quarter'),
                                    value=service.latest_kpi_for('volume_num'),
                                    cell_format=table.number_cell) }}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
