{% extends "base.html" %}
        
{% set page_title = service.name %}

{% block body %}
  <header class="page-header group no-right-margin">
    <hgroup>
      {% include "logo_and_header.html" %}
    </hgroup>
  </header>
  <div class="group">
    <section class="content-group service-details-header">
      <div class="col-50">
        <h1>{{ service.name|e }}</h1>
      </div>
      <div class="col-50">
        <dl>
          {% if service.body %}
            <dt>Agency/body:</dt>
            <dd>{{ service.body|e }}</dd>
          {% endif %}
          {% if service.category %}
            <dt>Service type:</dt>
            <dd>{{ service.category }}</dd>
          {% endif %}
          {% if service.customer_type %}
            <dt>Customer type:</dt>
            <dd>{{ service.customer_type }}</dd>
          {% endif %}
          {% if service.business_model %}
            <dt>Cost model:</dt>
            <dd>{{ service.business_model }}</dd>
          {% endif %}
          {% if service.url %}
            <dt>External link:</dt>
            <dd><a href="{{ service.url }}" rel="external">link</a></dd>
          {% endif %}
        </dl>
      </div>
      <div class="clear-div"></div>
    </section>
    
    <article role="article" class="group service-details">
      <section class="content-group">
        {% if service.description %}
          <h2>Description of service</h2>
          <p>{{ service.description }}</p>
        {% endif %}
        
        {% if service.has_kpis %}
          <h2>Key performance indicators</h2>
          <div class="kpi">
          
            {# TRANSACTIONS PER YEAR #}
            {% if service.find_recent_kpis_with_attributes(['volume']) is not none %}
              {% with %}
                {% set title='Transactions per year' %}
                {% set key='volume' %}
                {% set change_key='volume_change' %}
                {% set increase_class='green' %}
                {% set decrease_class='red' %}
                {% include "kpi_item.html" %}
              {% endwith %}
            {% endif %}
          
            {# DIGITAL TAKE-UP #}
            {% if service.find_recent_kpis_with_attributes(['takeup']) is not none %}
              {% with %}
                {% set title='Digital take-up' %}
                {% set key='takeup' %}
                {% set change_key='takeup_change' %}
                {% set value_type='percentage' %}
                {% set increase_class='green' %}
                {% set decrease_class='red' %}
                {% include "kpi_item.html" %}
              {% endwith %}
              <div class="clear-div"></div>
            {% endif %}
          
            {# TOTAL COST #}
            {% if service.find_recent_kpis_with_attributes(['cost']) is not none %}
              {% with %}
                {% set title='Total Cost' %}
                {% set key='cost' %}
                {% set change_key='cost_change' %}
                {% set value_type='money' %}
                {% set increase_class='red' %}
                {% set decrease_class='green' %}
                {% include "kpi_item.html" %}
              {% endwith %}
              {% if not service.find_recent_kpis_with_attributes(['cost_per']) %}
                <div class="clear-div"></div>
              {% endif %}
            {% endif %}
          
            {# COST PER TRANSACTION #}
            {% if service.find_recent_kpis_with_attributes(['cost_per_number']) is not none %}
              {% with %}
                {% set title='Cost per transaction' %}
                {% set key='cost_per_number' %}
                {% set change_key='cost_per_change' %}
                {% set value_type='money' %}
                {% set increase_class='red' %}
                {% set decrease_class='green' %}
                {% include "kpi_item.html" %}
              {% endwith %}
              <div class="clear-div"></div>
            {% endif %}
          </div>
        {% endif %}
          
        <div id="service-notes" class="clear-div">
          {% if service.notes_on_costs %}
            <h2>Notes on costs</h2>
            <p>{{ service.notes_on_costs }}</p>
          {% endif %}
          {% if service.other_notes %}
            <h2>Other notes</h2>
            <p>{{ service.other_notes }}</p>
          {% endif %}
        </div>
      </section>
    </article>
  </div>
{% endblock %}
