{% extends "all-services.html" %}
<table id="transactions-table" class="full_width_table">
    <thead>
        <tr>
            <th scope="col">
                {{ th_content("Department",
                              sort="by-department") }}
            </th>
            <th scope="col">
                {{ th_content("Digital take&#8209;up*",
                              sort="by-digital-takeup",
                              title="Proportion of transactions completed digitally (high-volume services only)",
                              default_direction="descending") }}
            </th>
            <th scope="col">
                {{ th_content("Total cost*",
                              sort="by-cost",
                              title="Total cost of providing services (high-volume services only)",
                              default_direction="descending") }}
            </th>
            <th scope="col">
                {{ th_content("Data coverage*",
                              sort="by-data-coverage",
                              title="Proportion of latest data provided by department (high-volume services only)",
                              default_direction="descending") }}
            </th>
            <th scope="col" class="amount">
                {{ th_content("Transactions per year",
                              sort="by-transactions-per-year",
                              title="Transactions per year: most recent 12 months of data available across all channels",
                              default_direction="descending") }}
            </th>
        </tr>
    </thead>

    <tbody>
        {% for department in items %}
            <tr data-volume="{{department.volume}}"
                data-volumeLabel=" {{ department.volume|as_grouped_number }} "
                data-category=""
                data-body=""
                data-body-abbr=""
                data-url="{{ department.link }}"
                data-bubbleLink="{{ department.link }}"
                data-label="{{ department.abbr }}"
                data-title="{{ department.name }}"
                data-color="#c03024"
                data-text-color="#fff">
                
                <th scope="row"><a href="{{ department.link }}">{{ department.name }}</a></th>
                <td class="amount"> {{ department.takeup|as_percentage }} </td>
                <td class="amount"> {{ money_cell(department.cost) }} </td>
                <td class="amount"> {{ department.data_coverage|as_percentage }} </td>
                <td class="amount"> {{ department.volume|as_grouped_number }} </td>
            </tr>

        {% endfor %}
    </tbody>
</table>