<!--[if gt IE 8]><!-->
<script type="text/javascript" src="/assets/javascripts/lib/d3.v3.js"></script>
<script type="text/javascript" src="/assets/javascripts/table-to-tree-map.js"></script>
<script>
  $(document).ready(function() {
      if ($(".treemap").length) {
        {% if threshold %}
        var tree = Tree.fromHtmlTable(d3.selectAll("tbody tr"), '{{ threshold }}');
        {% else %} 
        var tree = Tree.fromHtmlTable(d3.selectAll("tbody tr"));
        {% endif %}
        TreeMapLayout.display("{{ treemapDivId }}", tree);
      }
  });
</script>
<!--<![endif]-->
